--indent 4
--maxwidth 120
--trimwhitespace always
--insertlines enabled
--removelines enabled
--allman false
--wraparguments before-first
--wrapparameters before-first
--closingparen same-line
--trailingclosures
--semicolons never
